<!DOCTYPE html>
{% load static %}
<html lang="KO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            No title
        {% endblock%}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="/"><span>Home</span></a> | 
        <a href="/about"><span>About</span></a> | 
        {% comment %} # post에 있는 list를 가져와 {% endcomment %}
        <a href="{% url 'post:list' %}"><span>Post</span></a> |
        <a href="{% url 'post:new-post' %}"><span>New</span></a> |
        <a href="{% url 'users:register' %}"><span>Join</span></a> |
        <a href="{% url 'users:login' %}"><span>Login</span></a> |
        <form class='logout' action="{% url 'users:logout' %}" method='post'>
            {% csrf_token %}
            <span class='logout-button'><button >logout</button></span>
        </form>       
        <a href="/admin"><span role='img' aria-label='admin' title='admin'>👀</span></a> 
    </nav>
    <main>
        {% block content %}
            No contents
        {% endblock %}
    </main>
</body>
</html>